In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 

%matplotlib inline

In [2]:
print('this is my pandas version: {}'.format(pd.__version__))
print('this is my numpy version: {}'.format(np.__version__)) 
print('this is my seaborn version: {}'.format(sns.__version__))

this is my pandas version: 1.1.3
this is my numpy version: 1.18.5
this is my seaborn version: 0.11.0

In [3]:
df = pd.read_csv('./data.csv')
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [4]:
df.all()

Make                  True
Model                 True
Year                  True
Engine Fuel Type      True
Engine HP             True
Engine Cylinders     False
Transmission Type     True
Driven_Wheels         True
Number of Doors       True
Market Category       True
Vehicle Size          True
Vehicle Style         True
highway MPG           True
city mpg              True
Popularity            True
MSRP                  True
dtype: bool

In [5]:
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [6]:
np.ones(10)

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [7]:
np.full(10, 2.5)

array([2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5])

In [9]:
u =

In [10]:
type(u)

list

In [13]:
u = np.array([1, 4, 5, 7, 8, 10])

In [14]:
print(type(u))

<class 'numpy.ndarray'>

In [15]:
u[2]

5

In [16]:
u[2] = 15

In [17]:
print(u)

[ 1  4 15  7  8 10]

In [19]:
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [22]:
np.arange(5, 10)

array([5, 6, 7, 8, 9])

In [25]:
np.linspace(0, 100, 11)

array([  0.,  10.,  20.,  30.,  40.,  50.,  60.,  70.,  80.,  90., 100.])

In [29]:
n = np.ones((5, 10))

In [30]:
n[0, 1]

1.0

In [31]:
n

array([[1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.]])

In [32]:
# vector

In [33]:
v = np.array([2, 4, 5, 6])

In [34]:
v

array([2, 4, 5, 6])

In [35]:
v * 2

array([ 4,  8, 10, 12])

In [36]:
for i in v:
    print(i)

2
4
5
6

In [37]:
ui = v*2

In [38]:
ui

array([ 4,  8, 10, 12])

In [39]:
for i in ui:
    print(i)

4
8
10
12